<% provide(:title,"首页") %>
<div class="center jumbotron">
  <h1>欢迎访问App space</h1>
  <div class="signUpBlock center-block">
    <h2>网页app，让技术更有趣，让生活更便利</h2>
    <p class="center-block">
      现在注册，免费使用网站的各项app服务，让网络更有乐趣
    </p>
    <%= link_to "现在注册",signup_path,class: "btn btn-lg btn-primary"%>
  </div>
</div>
